{
  "plugins": [
    "react"
  ],
  "globals": {
    "React": true,
    "WL_DOMAINS": true
  },
  "env": {
    "node": true,
    "meteor": true,
    "es6": true,
    "mongo": true,
    "browser": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "quotes": 0,
    "no-undef": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 0
  }
}
