@import "_settings.scss";
@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

@font-face{font-family:webfont-medical-icons;src:url(../fonts/webfont-medical-icons.eot);src:url(../fonts/webfont-medical-icons.eot?#iefix) format('embedded-opentype'),url(../fonts/webfont-medical-icons.ttf) format('truetype'),url(../fonts/webfont-medical-icons.woff) format('woff'),url(../fonts/webfont-medical-icons.svg#webfont-medical-icons) format('svg');font-weight:400;font-style:normal}.wfmi{display:inline-block;font:normal normal normal 14px/1 webfont-medical-icons;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0,0)}.wfmi-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.wfmi-2x{font-size:2em}.wfmi-3x{font-size:3em}.wfmi-4x{font-size:4em}.wfmi-5x{font-size:5em}.wfmi-fw{width:1.28571429em;text-align:center}.wfmi-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.wfmi-ul>li{position:relative}.wfmi-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.wfmi-li.wfmi-lg{left:-1.85714286em}.wfmi-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.pull-right{float:right}.pull-left{float:left}.wfmi.pull-left{margin-right:.3em}.wfmi.pull-right{margin-left:.3em}.wfmi-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.wfmi-stack-1x{position:absolute;left:0;width:100%;text-align:center;line-height:inherit}.wfmi-stack-2x{position:absolute;left:0;width:100%;text-align:center;font-size:2em}.wfmi-stack-3x{position:absolute;left:0;width:100%;text-align:center;font-size:3em}.wfmi-stack-4x{position:absolute;left:0;width:100%;text-align:center;font-size:4em}.wfmi-stack-5x{position:absolute;left:0;width:100%;text-align:center;font-size:5em}.wfmi-inverse{color:#fff}.wfmi-i-womens-health:before{content:"\e600"}.wfmi-i-waiting-area:before{content:"\e601"}.wfmi-i-volume-control:before{content:"\e602"}.wfmi-i-ultrasound:before{content:"\e603"}.wfmi-i-text-telephone:before{content:"\e604"}.wfmi-i-surgery:before{content:"\e605"}.wfmi-i-stairs:before{content:"\e606"}.wfmi-i-radiology:before{content:"\e607"}.wfmi-i-physical-therapy:before{content:"\e608"}.wfmi-i-pharmacy:before{content:"\e609"}.wfmi-i-pediatrics:before{content:"\e60a"}.wfmi-i-pathology:before{content:"\e60b"}.wfmi-i-outpatient:before{content:"\e60c"}.wfmi-i-mental-health:before{content:"\e60d"}.wfmi-i-medical-records:before{content:"\e60e"}.wfmi-i-medical-library:before{content:"\e60f"}.wfmi-i-mammography:before{content:"\e610"}.wfmi-i-laboratory:before{content:"\e611"}.wfmi-i-labor-delivery:before{content:"\e612"}.wfmi-i-immunizations:before{content:"\e613"}.wfmi-i-imaging-root-category:before{content:"\e614"}.wfmi-i-imaging-alternative-pet:before{content:"\e615"}.wfmi-i-imaging-alternative-mri:before{content:"\e616"}.wfmi-i-imaging-alternative-mri-two:before{content:"\e617"}.wfmi-i-imaging-alternative-ct:before{content:"\e618"}.wfmi-i-fire-extinguisher:before{content:"\e619"}.wfmi-i-family-practice:before{content:"\e61a"}.wfmi-i-emergency:before{content:"\e61b"}.wfmi-i-elevators:before{content:"\e61c"}.wfmi-i-ear-nose-throat:before{content:"\e61d"}.wfmi-i-drinking-fountain:before{content:"\e61e"}.wfmi-i-cardiology:before{content:"\e61f"}.wfmi-i-billing:before{content:"\e620"}.wfmi-i-anesthesia:before{content:"\e621"}.wfmi-i-ambulance:before{content:"\e622"}.wfmi-i-alternative-complementary:before{content:"\e623"}.wfmi-i-administration:before{content:"\e624"}.wfmi-i-social-services:before{content:"\e625"}.wfmi-i-smoking:before{content:"\e626"}.wfmi-i-restrooms:before{content:"\e627"}.wfmi-i-restaurant:before{content:"\e628"}.wfmi-i-respiratory:before{content:"\e629"}.wfmi-i-registration:before{content:"\e62a"}.wfmi-i-oncology:before{content:"\e62b"}.wfmi-i-nutrition:before{content:"\e62c"}.wfmi-i-nursery:before{content:"\e62d"}.wfmi-i-no-smoking:before{content:"\e62e"}.wfmi-i-neurology:before{content:"\e62f"}.wfmi-i-mri-pet:before{content:"\e630"}.wfmi-i-interpreter-services:before{content:"\e631"}.wfmi-i-internal-medicine:before{content:"\e632"}.wfmi-i-intensive-care:before{content:"\e633"}.wfmi-i-inpatient:before{content:"\e634"}.wfmi-i-information-us:before{content:"\e635"}.wfmi-i-infectious-diseases:before{content:"\e636"}.wfmi-i-hearing-assistance:before{content:"\e637"}.wfmi-i-health-services:before{content:"\e638"}.wfmi-i-health-education:before{content:"\e639"}.wfmi-i-gift-shop:before{content:"\e63a"}.wfmi-i-genetics:before{content:"\e63b"}.wfmi-i-first-aid:before{content:"\e63c"}.wfmi-i-dermatology:before{content:"\e63d"}.wfmi-i-dental:before{content:"\e63e"}.wfmi-i-coffee-shop:before{content:"\e63f"}.wfmi-i-chapel:before{content:"\e640"}.wfmi-i-cath-lab:before{content:"\e641"}.wfmi-i-care-staff-area:before{content:"\e642"}.wfmi-i-accessibility:before{content:"\e643"}.wfmi-i-diabetes-education:before{content:"\e644"}.wfmi-i-hospital:before{content:"\e645"}.wfmi-i-kidney:before{content:"\e646"}.wfmi-i-ophthalmology:before{content:"\e647"}.wfmi-womens-health:before{content:"\e648"}.wfmi-waiting-area:before{content:"\e649"}.wfmi-volume-control:before{content:"\e64a"}.wfmi-ultrasound:before{content:"\e64b"}.wfmi-text-telephone:before{content:"\e64c"}.wfmi-surgery:before{content:"\e64d"}.wfmi-stairs:before{content:"\e64e"}.wfmi-radiology:before{content:"\e64f"}.wfmi-physical-therapy:before{content:"\e650"}.wfmi-pharmacy:before{content:"\e651"}.wfmi-pediatrics:before{content:"\e652"}.wfmi-pathology:before{content:"\e653"}.wfmi-outpatient:before{content:"\e654"}.wfmi-ophthalmology:before{content:"\e655"}.wfmi-mental-health:before{content:"\e656"}.wfmi-medical-records:before{content:"\e657"}.wfmi-medical-library:before{content:"\e658"}.wfmi-mammography:before{content:"\e659"}.wfmi-laboratory:before{content:"\e65a"}.wfmi-labor-delivery:before{content:"\e65b"}.wfmi-kidney:before{content:"\e65c"}.wfmi-immunizations:before{content:"\e65d"}.wfmi-imaging-root-category:before{content:"\e65e"}.wfmi-imaging-alternative-pet:before{content:"\e65f"}.wfmi-imaging-alternative-mri:before{content:"\e660"}.wfmi-imaging-alternative-mri-two:before{content:"\e661"}.wfmi-imaging-alternative-ct:before{content:"\e662"}.wfmi-hospital:before{content:"\e663"}.wfmi-fire-extinguisher:before{content:"\e664"}.wfmi-family-practice:before{content:"\e665"}.wfmi-emergency:before{content:"\e666"}.wfmi-elevators:before{content:"\e667"}.wfmi-ear-nose-throat:before{content:"\e668"}.wfmi-drinking-fountain:before{content:"\e669"}.wfmi-diabetes-education:before{content:"\e66a"}.wfmi-cardiology:before{content:"\e66b"}.wfmi-billing:before{content:"\e66c"}.wfmi-anesthesia:before{content:"\e66d"}.wfmi-ambulance:before{content:"\e66e"}.wfmi-alternative-complementary:before{content:"\e66f"}.wfmi-administration:before{content:"\e670"}.wfmi-accessibility:before{content:"\e671"}.wfmi-social-services:before{content:"\e672"}.wfmi-smoking:before{content:"\e673"}.wfmi-restrooms:before{content:"\e674"}.wfmi-restaurant:before{content:"\e675"}.wfmi-respiratory:before{content:"\e676"}.wfmi-oncology:before{content:"\e677"}.wfmi-nutrition:before{content:"\e678"}.wfmi-nursery:before{content:"\e679"}.wfmi-no-smoking:before{content:"\e67a"}.wfmi-neurology:before{content:"\e67b"}.wfmi-mri-pet:before{content:"\e67c"}.wfmi-interpreter-services:before{content:"\e67d"}.wfmi-internal-medicine:before{content:"\e67e"}.wfmi-intensive-care:before{content:"\e67f"}.wfmi-inpatient:before{content:"\e680"}.wfmi-information-us:before{content:"\e681"}.wfmi-infectious-diseases:before{content:"\e682"}.wfmi-hearing-assistance:before{content:"\e683"}.wfmi-health-services:before{content:"\e684"}.wfmi-health-education:before{content:"\e685"}.wfmi-gift-shop:before{content:"\e686"}.wfmi-genetics:before{content:"\e687"}.wfmi-first-aid:before{content:"\e688"}.wfmi-dental:before{content:"\e689"}.wfmi-coffee-shop:before{content:"\e68a"}.wfmi-chapel:before{content:"\e68b"}.wfmi-cath-lab:before{content:"\e68c"}.wfmi-care-staff-area:before{content:"\e68d"}.wfmi-registration:before{content:"\e68e"}.wfmi-dermatology:before{content:"\e68f"}

$roles_list_width: 70;

.rune-odin::before {
  content: "\16df";
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#viewWrap {
  width: 100%;
  margin: 0;
}

#roleView {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: rem_calc($roles_list_width);
  right: 0;
  width: auto;
  height: 100%;
  overflow: hidden;
}

$include-html-icon-bar-classes: $include-html-classes;

// We use these to style the icon-bar and items
// $icon-bar-bg: $oil;
$icon-bar-bg: $primary-color;
$icon-bar-font-color: $white;
$icon-bar-font-color-hover: $icon-bar-font-color;
$icon-bar-font-size: 1rem;
// $icon-bar-hover-color: $primary-color;
$icon-bar-hover-color: fade-out($icon-bar-active-color, 0.4);
$icon-bar-icon-color: $white;
$icon-bar-icon-color-hover: $icon-bar-icon-color;
$icon-bar-icon-size: 1.875rem;
$icon-bar-image-width: 1.875rem;
$icon-bar-image-height: 1.875rem;
// $icon-bar-active-color: $primary-color;
$icon-bar-active-color: #a1a1a4;
// $icon-bar-item-padding: 1.25rem;
$icon-bar-item-padding: 1rem;
$icon-bar-disabled-opacity: 0.7;

.roles-list {
  @include icon-bar();

  width: rem_calc($roles_list_width);
  margin: 0;
  position: fixed;
  top: 0; //$rolebar_height;
  left: 0;
  border-right: 3px solid $icon-bar-active-color;

  .item {
    &:not(.active):hover {
      background-color: $icon-bar-hover-color;
    }

    &.active {
      background-color: $icon-bar-active-color;

      &:hover {
        background-color: scale-color($icon-bar-active-color, $lightness: 20%);
      }
    }
  }
}

.tabs.vertical {
  position: absolute;
  width: 15rem;
  height: 100%;
  background-color: #333;

  .tab-title {
    position: relative;

    &:first-of-type {
      border-top: 1px solid $icon-bar-active-color;
    }

    &:not(.active) {
      border-bottom: 1px solid $icon-bar-active-color;
    }

    a {
      color: #fff;
      background-color: scale-color($icon-bar-active-color, $lightness: -30%);

      &:not(.active):hover {
        background-color: fade-out($icon-bar-active-color, 0.2);
      }
    }

    &.active {
      a {
        background-color: $icon-bar-active-color;
      }
    }
  }

  &+.tabs-content {
    padding-left: 15rem;

    .content {
      &.active {
        overflow: hidden;
        overflow-y: scroll;
      }
    }
  }
}

.hidden {
  display: none !important;
}

.row {
  &.fluid {
    max-width: calc(100% - 2rem);
  }
}

.rhp-table {
  thead {
    background-color: $primary-color;

    th, td {
      color: #fff;
    }
  }
}

.alerts-list {
  max-width: 300px;
  float: right;
}

.spin {
  // force hardware acceleration
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;

  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: linear;

  &.forever {
    animation-iteration-count: infinite;
  }

  &.once {
    animation-iteration-count: 1;
  }

  &.twice {
    animation-iteration-count: 2;
  }

  &.thrice {
    animation-iteration-count: 3;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
